body {
    @include font__family--newsreader-light;
    @include font__size-regular;
    color: $color-black;
}

p, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $padding--xxsmall;
}

h1 {
    @include h1;

    @include mq($until: s) {
        @include h2;
    }
}

h2 {
    @include h2;
    border-bottom: 1px solid rgba($color-jc-charcoal, 0.5);
    padding-bottom: $padding--xsmall;
    margin-bottom: $padding--xxxsmall;

    @include mq($until: s) {
        @include font__sizing(40px, 42px);
    }
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

p strong {
    @include font__family--newsreader-medium;
}