.archive-year {
    grid-column: 2;
    margin-bottom: $padding--medium;

    &__post {
        display: grid;
        grid-template-columns: 50px auto;
        gap: $padding--xxxsmall;
        margin-bottom: $padding--mini;

        &-date {
            @include font__family--inter-light;
            color: rgba($color-jc-charcoal, 0.4);
        }

        &-title {
            color: $color-jc-charcoal;
        }
    }
}