.category-essays {

    &__essay,
    &__series {
        margin-bottom: $padding--small;

        &-title {
            @include font__size-regular-title;
            grid-column: 1/3;
            margin-bottom: 10px;
        }

        &-date {
            @include font__family--inter-light;
            grid-column: 1;
            color: rgba($color-jc-charcoal, 0.4);
        }
    }

    &__essay {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        color: $color-black;

        &-excerpt {
            @include font__size-regular-alt;
            grid-column: 1/3;

            p {
                margin-bottom: 10px;
            }
        }

        &-action {
            @include font__family--inter-light;
            grid-column: 2;
            color: $color-jc-blue;
            text-align: right;
            opacity: 0;
            transition: opacity .2s ease;
        }

        &:hover &-action {
            opacity: 1;
        }
    }

    &__series {
        &-date,
        &-excerpt {
            margin-bottom: $padding--xxxsmall;
        }

        &-essay-title {
            @include font__size-regular-subtitle;
            padding-left: $padding--xxsmall;
            color: $color-black;
            margin-bottom: $padding--mini;
        }
    }
}