@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Newsreader:opsz,wght@6..72,300;6..72,400;6..72,500&display=swap');

@mixin font__sizing($font-size-px, $line-height-px: false) {
  $font-size: math.div($font-size-px, $font__base-size);
  font-size: $font-size * 1rem;

  @if ($line-height-px) {
    $line-height: math.div($line-height-px, $font-size-px);
    line-height: $line-height;
  }
}

@mixin font__family--inter-medium {
  font-family: 'Inter', serif;
  font-weight: 500;
  font-variation-settings: "wght" 510;
}

@mixin font__family--inter-regular {
  font-family: 'Inter', serif;
  font-weight: 400;
  font-variation-settings: "wght" 410;
}

@mixin font__family--inter-light {
  font-family: 'Inter', serif;
  font-weight: 300;
  font-variation-settings: "wght" 310;
}

@mixin font__family--newsreader-medium {
  font-family: 'Newsreader', serif;
  font-weight: 500;
  font-variation-settings: "wght" 510;
}

@mixin font__family--newsreader-regular {
  font-family: 'Newsreader', serif;
  font-weight: 400;
  font-variation-settings: "wght" 410;
}

@mixin font__family--newsreader-light {
  font-family: 'Newsreader', serif;
  font-weight: 300;
  font-variation-settings: "wght" 310;
}

@mixin h1 {
  @include font__family--newsreader-light;
  @include font__sizing(64px, 70.4px);
}

@mixin h2 {
  @include font__family--newsreader-light;
  @include font__sizing(48px, 52.8px);
}

@mixin h3 {
  @include font__family--newsreader-regular;
  @include font__sizing(24px, 28.8px);
  font-variation-settings: 'opsz' 24;
}

@mixin h4 {
  @include font__family--newsreader-medium;
  @include font__sizing(20px, 27px);
}

@mixin font__size-regular {
  @include font__sizing(14px, 16.8px);
}

@mixin font__size-regular-alt {
  @include font__sizing(14px, 18.9px);
}

@mixin font__newsreader-title {
  @include font__family--newsreader-regular;
  @include font__sizing(18px, 21.6px);
  font-variation-settings: 'opsz' 18;
}

@mixin font__newsreader-subtitle {
  @include font__family--newsreader-regular;
  @include font__sizing(16px, 19.2px);
  font-variation-settings: 'opsz' 16;
}

@mixin font__size-editor-h2 {
  @include font__family--newsreader-light;
  @include font__sizing(26px, 46.8px);
}

@mixin font__size-editor-h3 {
  @include font__family--inter-medium;
  @include font__sizing(14px, 25.2px);
}