.site-footer {
    background-color: $color-jc-grey-1;
    padding-top: $padding--small;

    .single-post &,
    .archive &,
    .category & {
        background-color: $color-white;
    }

    .default-page &,
    .error-404 &,
    .favourites & {
        background-color: $color-jc-grey-2;
    }

    &__inner {
        @include max-width-element;
        @include main-padding;
        @include font__sizing(10px, 14px);

        &-content {
            padding-top: $padding--small;
            padding-bottom: $padding--medium;

            @include mq($until: s) {
                display: flex;
                flex-direction: column;
                gap: $padding--xxsmall;
            }

            @include mq($from: s) {
                @include flex-space-between-center;
            }
        }

        &-boat-illustration {
            overflow: hidden;
        }
    }

    &__nav {
        @include font__family--inter-light;
        display: flex;
        gap: 25px;
    }

    &__copyright {
        @include font__family--inter-medium;
        color: $color-jc-blue;
    }

    &__built-by {
        @include font__family--inter-medium;
        color: $color-jc-blue;
    }

    @media print {
        display: none;
    }
}