.site-header {
    background-color: $color-jc-grey-1;

    &__inner {
        @include max-width-element;
        @include main-padding;

        &-content {
            @include flex-space-between-center;
            border-bottom: 1px solid $color-black;
            height: $header--height;
        }
    }

    &__logo {
        @include font__sizing(26px, 28px);

        a {
            color: $color-black;
        }
    }

    &__nav {
        display: flex;
        gap: 25px;

        li a {
            @include font__sizing(16px, 22.4px);
            color: $color-black;
        }
    }

    /*
     * Archive & Category pages
     */
    .archive &,
    .category &,
    .default-page & {
        background-color: $color-jc-blue;

        a {
            color: $color-white;
        }

        &__inner-content {
            border-color: $color-white;
        }
    }

    /*
     * Single pages
     */
    .single-post & {
        background-color: $color-white;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    @media print {
        display: none;
        border-bottom: 1px solid green;
    }
}