.single-essay {
    @include max-width-element;
    @include main-padding;
    padding-top: $padding--large;
    padding-bottom: $padding--xsmall;

    &__grid {
        display: grid;
        grid-template-columns: 315px minmax(auto, 650px) auto;
        gap: $padding--medium;
    }

    &__sidebar {

    }

    &__main {
        grid-column: 2;

        &-title {
            @include font__sizing(44px, 57.2px);
            margin-bottom: $padding--medium;
        }

        &-content {
            @include font__family--newsreader-regular;
            @include font__sizing(16px, 25.6px);

            p:first-child {
                @include font__sizing(20px, 32px);
            }
        }
    }
}