.intro-text,
.featured-essays,
.about-text {
    &__inner {
        @include max-width-element;
        @include main-padding;
        padding-top: $padding--medium;
        padding-bottom: $padding--medium;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $padding--medium;
    }
}

.intro-text {
    background-color: $color-jc-grey-1;

    &__inner {
        grid-template-columns: 4fr 4fr 2fr;
    }
}

.featured-essays {
    &__essay {
        color: $color-black;
        display: grid;
        grid-template-columns: 205px auto;
        gap: $padding--xsmall;
        padding-right: $padding--xsmall;
        padding-bottom: $padding--small;
        margin-bottom: $padding--small;
        border-bottom: 1px solid rgba($color-jc-charcoal, 0.1);

        &-title {
            @include h4;
        }

        &-excerpt {
            @include font__size-regular-alt;

            p {
                margin-bottom: 0;
            }
        }
    }
}

.essay-categories {
    @include max-width-element;
    @include main-padding;
    padding-top: $padding--medium;
    padding-bottom: $padding--medium;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $padding--medium;

    &__essay {
        display: block;
        color: $color-black;
        padding-bottom: $padding--small;

        &-title {
            @include h4;
            margin-bottom: 10px;
        }

        &-excerpt {
            @include font__size-regular-alt;

            p {
                margin-bottom: 10px;
            }
        }

        &-date {
            @include font__family--inter-light;
            color: rgba($color-jc-charcoal, 0.4);
        }
    }
}

.about-text {
    &__title {
        grid-column: 1/-1;
    }
}